{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{# @todo: make a proper theme suggetsion for the search button. #}
{%
  set classes = [
    ''
  ]
%}
{% if (attributes.value == 'Zoeken') %}
<button{{ attributes.setAttribute('type', 'submit').addClass(classes)|without('value') }}>{{ attributes.value }}</button>{{ children }}
{% else %}
  <input{{ attributes }} />{{ children }}
{% endif %}
