// List group
//
// Markup: list-group.twig
//
// Style guide: molecules.listgroup
ul.list-group {
  & > li {
    list-style: none;
    display: flex;
    .list-group-item {
      margin-bottom: -1px;
    }
    &:last-child .list-group-item {
      margin-bottom: 0;
    }
  }
  &.simple {
    margin: $list-group-item-padding-y/1.5 0 $spacer-y 0;
    .list-group-item {
      border: 0;
      padding: $list-group-item-padding-y/1.5 0;
      text-decoration: none;
      &.list-group-item-success,
      &.list-group-item-info,
      &.list-group-item-warning,
      &.list-group-item-danger,
      &.active,
      &.disabled {
        padding-left: $list-group-item-padding-x/2;
        padding-right: $list-group-item-padding-x/2;
      }
      &.list-group-item-success,
      &.list-group-item-danger {
        color: #fff;
      }
      &[class^="icon-"],
      &[class*=" icon-"] {
        // added display block because of issue with postioning of icons in Firefox
        display: block;
        padding-left: 1.5rem;
        position: relative;
        &:before {
          position: absolute;
          left: 0;
          text-decoration: none;
        }
        &.list-group-item-success,
        &.list-group-item-info,
        &.list-group-item-warning,
        &.list-group-item-danger,
        &.active,
        &.disabled {
          padding-left: $list-group-item-padding-x/2 + 1.5rem;
          &:before {
            left: $list-group-item-padding-x/2;
          }
        }
      }
    }
  }
}
