// Variables for fonts (used in white theme)
$font-family-sans-serif:   Arial, Helvetica, sans-serif;
$font-family-serif:        "Times New Roman", Times, serif;
$font-family-monospace:    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:         $font-family-sans-serif;
