@function contrast-text ($color-check, $colored:false) {
  @if lightness($color-check) < 50% {
    // if the background color is a very dark color
    // we need a white text, or we can use maincolor-lightest
    @if $colored {
      @return $brand-lightest;
    } @else {
      @return #ffffff;
    }
  } @else {
    // if the background color is a light color
    // a black text
    @if $colored {
      @if lightness($brand-primary) < 20% {
        @return $brand-primary;
      } @else {
        @return $brand-global;
      }
    } @else {
      @return #000000;
    }
  }
}

@function contrast-text-footer ($color-check, $colored:false) {
  @if lightness($color-check) < 50% {
    // if the background color is a very dark color
    // we need a white text, or we can use maincolor-lightest
    @if $colored {
      @return $brand-lightest;
    } @else {
      @return #ffffff;
    }
  } @else {
    // if the background color is a light color
    // a logocolor text
    @if $colored {
      @if lightness($brand-primary) < 20% {
        @return $brand-primary;
      } @else {
        @return $brand-global;
      }
    } @else {
      @return #154273;
    }
  }
}

@function contrast-shadow-footer ($color-check, $colored:false) {
  @if lightness($color-check) < 50% {
    // if the background color is a very dark color
    // we need a white text, or we can use maincolor-lightest
    @if $colored {
      @return $brand-lightest;
    } @else {
      @return #154273;
    }
  } @else {
    // if the background color is a light color
    // a logocolor text
    @if $colored {
      @if lightness($brand-primary) < 20% {
        @return $brand-primary;
      } @else {
        @return $brand-global;
      }
    } @else {
      @return #ffffff;
    }
  }
}

