body {
  min-width: 312px;
}
// removed in bootstrap v4 beta 1 
.container .container {
  padding-right: 0;
  padding-left: 0;
}

// a spacer class to give containers/container wrappers some extra padding.
.container-spacer {
  padding-top: $spacer*2;
  padding-bottom: $spacer;
  @include media-breakpoint-up(sm) {
    padding-top: $spacer*2;
    padding-bottom: $spacer*2;
  }
  @include media-breakpoint-up(lg) {
    padding-top: $spacer*4;
    padding-bottom: $spacer*4;
  }
}

.container-spacer-sm {
  padding-top: $spacer;
  padding-bottom: $spacer;
  @include media-breakpoint-up(sm) {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }
  @include media-breakpoint-up(lg) {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }
}

// no padding for containers that are used in a container.
$grid-gutter-zero: ( xs: 0,
sm: 0,
md: 0,
lg: 0,
xl: 0);
