// Contextual backgrounds colors
@mixin bg-color($parent: false, $color: #000000, $tinted: false, $tinted-link: false) {
  @if $parent {
    #{$parent} {
      color: contrast-text($color, $tinted);
      background-color: $color;
      a {
        color: contrast-text($color, $tinted-link);
        @include hover-focus {
          color: contrast-text(darken($color, 15%));
        }
      }
      [class^="bg-"] a,
      [class*=" bg-"] a {
        color: inherit;
        @include hover-focus {
          color: inherit;
        }
      }
    }
    a#{$parent} {
      color: contrast-text($color, $tinted) !important;
      background-color: $color;
    }
  }
  @else {
    color: contrast-text($color, $tinted);
    background-color: $color;
    a {
      color: contrast-text($color, $tinted-link);
      @include hover-focus {
        color: contrast-text(darken($color, 15%));
      }
    }
  }
}

@mixin bg-color-footer($parent: false, $color: #000000, $tinted: false, $tinted-link: false) {
  @if $parent {
    #{$parent} {
      color: contrast-text-footer($color, $tinted);
      text-shadow: 0 1px 0 yellow;
    }
  }
  @else {
    color: contrast-text-footer($color, $tinted);
    text-shadow: 0 1px 0 contrast-shadow-footer($color, $tinted);
  }
}


// Contextual text colors
@mixin text-color($parent, $color) {
  #{$parent} {
    color: $color !important;
  }
}

//
// BOOTSTRAP OVERRIDES
//
// Card variants
@mixin card-variant($background, $border) {
  @include bg-color( $color: $background);
  border-color: $border;
  .card-header,
  .card-footer {
    background-color: transparent;
  }
}
