// Buttons
//
// A majority of buttons in the site are built from the same base class.
//
// Markup: buttons.twig
//
// .btn           - Use this class to indicate that the button is the primary feature of this form.
// .btn-primary   - Provides extra visual weight and identifies the primary action in a set of buttons.
// .btn-secondary - Secondary, outline button.
// .btn-success   - Indicates a successful or positive action.
// .btn-info      - Contextual button for informational alert messages.
// .btn-warning   - Indicates caution should be taken with this action.
// .btn-danger    - Indicates a dangerous or potentially negative action.
// .btn-link      - Deemphasize a button by making it look like a link while maintaining button behavior.
// .hover         - Highlight the button when hovered.
// .disabled      - Make the button change appearance to reflect it being disabled.
// .active        - "Press" the button down when clicked.
//
// Style guide: atoms.buttons
.btn {
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}
