<a href="#" class="btn {{modifier_class}}">Link Button</a>
<button class="btn {{modifier_class}}">Button element</button>
<input class="btn {{modifier_class}}" type="button" value="input type button"></input>
