// Pagination
//
// A majority of pagination in the site are built from the same base class.
//
// Markup: pagination.twig
//
// .pagination-sm - Small pagination.
// .pagination-lg - Large pagination.
//
// Style guide: atoms.pagination
.pagination{
  border-top: 2px solid $brand-primary;
}
.page-item.active {
  .page-link {
    color: contrast-text($brand-primary);   
  }
}
