// Carousel
//
// Markup: carousel.twig
//
// Carousel code is based on Slick Slider.
//
// Style guide: molecules.carousel

// import base styling slick slider.
@import "./_slick.scss";

// base styling carousel.
#priority.carousel {
  margin: 0 15px 15px 15px;
  max-width: calc(100% - 15px);
  background-color: $gray-lightest;
  overflow: hidden;
  width: 100%;
  a {
    text-decoration: none;
    display: block;
  }
  h2 {
    position: absolute;
    top: -100000px;
  }
  .focuspoint {
    position: relative;
  }
  .carouselControl {
    position: absolute;
    top: 8px;
    right: 20px;
    display: inline-block;
    margin: -3px 0 0 6px;
    width: 22px;
    height: 22px;
    text-indent: -999px;
    overflow: hidden;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #000;
    border-color: rgba(255, 255, 255, 0.6);
    @include media-breakpoint-up(md) {
      top: 15px;
      right: 30px;
    }
    &:after {
      content: "";
      position: absolute;
      right: 4px;
      bottom: 3px;
      width: 12px;
      height: 14px;
      border-right: 4px solid #fff;
      border-left: 4px solid #fff;
      border-color: rgba(255, 255, 255, 0.9);
    }
    &:hover:after {
      border-color: rgba(255, 255, 255, 0.5);
    }
    &.paused {
      &:after {
        content: "";
        position: absolute;
        top: 4px;
        left: 7px;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 9px;
        border-color: transparent transparent transparent #fff;
        border-color: transparent transparent transparent rgba(255, 255, 255, 0.9);
      }
      &:hover:after,
      &:focus:after {
        border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
      }
    }
  }
  .carousel-slide {
    margin: 0;
    padding: 0;
  }
  &.slick-dotted {
    .js &{
      .slick-slide  .slide-nav-link {
        display: block;
        @include media-breakpoint-up(md) {
          display: none;
        }
      }
    }
  }
  &:not(.slick-dotted) {
    .js & {
      .slick-slide  .slide-nav-link {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
      }
    }
  }
  .slide-nav-link {
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 100;
    @include media-breakpoint-up(md) {
      background: rgba(255,255,255,0.9);
    }
    .slide-content {
      margin: 0;
      padding: 0 24px 10px 10px;
      color: #000;
      line-height: 1.375em;
      font-size: 1em;
      overflow: hidden;
      @include hover-focus {
        color: $link-hover-color;
      }
      &:before{
        @extend .icon;
        content: $icon-pijl-rechts;
      }
    }
    .slide-title {
      display: block;
      padding: 10px 10px 5px 10px;
      margin: 0 0 0 0;
      font-size: 1rem;
      line-height: 1.4rem;
      text-decoration: none;
      position: relative;
      background: none;
      border: none;
      width: 100%;
      text-align: left;
      color: $link-color;
      @include hover-focus {
        color: $link-hover-color;
      }
      @include media-breakpoint-up(md) {
        font-weight: bold;
      }
      @include media-breakpoint-up(md) {
        font-size: 1.125rem;
      }
    }
  }
  // navigation styling @ screen.
  .slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block !important;
    @include media-breakpoint-up(md) {
      padding: 0;
      position: absolute;
      left:0;
      bottom: 0;
      width: 100%;
      display: flex !important;
      align-items: flex-end;
      z-index: 301;
    }
    li {
      padding-right: 20px;
      display: block;
      @include media-breakpoint-up(md) {
        display: inline-block;
        flex-grow: 1;
        flex-basis: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      .slide-content {
        display: none;
      }
      &.slick-active .slide-content {
        display: block !important;
      }
      &.slick-active .slide-title {
        font-weight: bold;
      }
    }
  }
}

