<a href="{{slide_link}}" class="slide-img-link" {% if slide_link_title %}title="{{slide_link_title}}"{% endif %} tabindex="-1">
  {{ image }}
</a>
<div class="slide-nav-link">
  <button class="sr-only sr-only-focusable">{{ 'Go to slide:'|t }} {{ slide_link_title }}</button><h3 class="slide-title">{{ slide_link_title }}</h3>
  <a href="{{slide_link}}" class="slide-content" {% if slide_link_title %}title="{{slide_link_title}}"{% endif %}>{{ slide_text }}</a>
</div>

