<div id="priority" class="carousel">
  {% for item in carousel %}
  <figure class="carousel-slide {{ activeClass }}">
  {%
    include "carousel-slide.twig" with {
      image: item.img,
      slide_link: item.link_url,
      slide_link_title: item.link_text,
      slide_text: item.text,
    } only
  %}
  </figure>
  {% endfor %}
</div>
