// HTML5 Elements; Grouping content
//
// All HTML elements for grouping content, see https://www.w3.org/TR/html51/grouping-content.html
// p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, figure, figcaption ,div
//
// Style guide: atoms.grouping


// Block quotes
//
// The `<blockquote>` element is for quoting blocks of content from another
// source within your document. Wrap the `<blockquote>` around any <abbr
// title="HyperText Markup Language">HTML</abbr> as the quote. For straight
// quotes, we recommend a `<p>`.
//
// Optionally, add a `<footer>` to identify the source of the quote, wrapping
// the name of the source work in `<cite>`.
//
// Markup: grouping-blockquote.twig
//
// Style guide: atoms.grouping.blockquote
blockquote {
  font-style: italic;
  font-size: 2rem;
}

// Ordered list
//
// The `<ol>` element is a list of items in which the order <em>does</em>
// explicitly matter.
//
// Markup: grouping-ol.twig
//
// Style guide: atoms.grouping.lists.ol
ol {
  counter-reset: item;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0; // removed default padding.
  padding-top: 15px;
  li {
    counter-increment: item;
    margin-bottom: 1rem;
    padding-left: 2.6rem;
    position: relative;
    &:before {
      content: counter(item);
      background: #fff;
      border-radius: 100%;
      color: #000;
      width: 25px;
      text-align: center;
      position: absolute;
      left: 0;
    }
  }
}

// @TO DO rewrite this...
div {
  .intro p {
    font-size: 1.3125rem;
  }
}
