<figure class="{{modifier_class}}">
  An illustration, diagram, photo, code listing, etc.
</figure>
<hr/>
<figure class="figure">
  <img src="http://placehold.it/350x150/" class="figure-img img-fluid" alt="A generic square placeholder image.">
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>
<hr/>
<figure class="figure">
  <img src="http://placehold.it/350x150" class="figure-img img-fluid" alt="A generic square placeholder image.">
  <figcaption class="figure-caption text-xs-right">A caption for the above image.</figcaption>
</figure>
