// Header
//
// Header organism. Added at every page at the top.
//
// Markup: header.twig
//
// Weight: -10
//
// Style guide: organisms.header

//
// header
//
#header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  min-height: 93px;
  &:not(.with-bg-image){
    justify-content: center;
  }
  // Header with background image
  //
  // Markup: header-img.twig
  //
  // Style guide: organisms.header.image
  &.with-bg-image {
    @include media-breakpoint-up(md) {
      min-height: 125px;
    }
    @include media-breakpoint-up(lg) {
      min-height: 177px;
    }
    .logo {
      margin-left: -66px;
      position: absolute;
      padding-left: 44px;
      width: auto;
      top: 0;
      left: 50%;
      z-index: 1;
    }
  }
  .logo {
    margin-top: -11px;
    text-decoration: none;
    padding-left: 134px;
    padding-right: 0;
    @include media-breakpoint-up(sm) {
      margin-top: 0px;
      padding-left: 240px;
      padding-right: 0;
      min-height: 88px;
    }
    .wordmark {
      letter-spacing: 0.001em;
      font-family: $font-family-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 11px;
      line-height: 14px;
      display: block;
      float: right;
      padding-top: 34px;
      margin-left: 4px;
      margin-right: 0;
      width: 130px;
      @include media-breakpoint-up(sm) {
        font-size: 14px;
        line-height: 14px;
        margin-left: 9px;
        margin-right: 21px;
        width: 210px;
      }
    }
    > span {
      display: block;
    }
    .secondary-sender {
      font-style: italic;
      display: block;
      line-height: 14px;
      padding-bottom: 14px;
    }
  }

  .header-media {
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    img {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &.wide {
        height: 100%;
        width: auto;
        max-width: none;
      }
      &.tall {
        width: 100%;
        height: auto;
      }
    }
  }
}

.header-border {
  border-top: 2px solid $gray-darkest;
}
