{% if header_bg_url %}
  {% set bg_image = 'with-bg-image' %}
{% endif %}
{% if header_bg_color == '1' %}
  {% set bg_color = 'bg-brand' %}
{% endif %}

{% if header_sender_breakpoint_class == 'xs' %}
  {% set breakpoint = 'd-none d-sm-block d-md-block d-lg-block d-xl-block' %}
{% elseif header_sender_breakpoint_class == 'sm' %}
  {% set breakpoint = 'd-none d-md-block d-lg-block d-xl-block' %}
{% elseif header_sender_breakpoint_class == 'md' %}
  {% set breakpoint = 'd-none d-lg-block d-xl-block' %}
{% elseif header_sender_breakpoint_class == 'lg' %}
  {% set breakpoint = 'd-none d-xl-block' %}
{% elseif header_sender_breakpoint_class == 'xl' %}
  {% set breakpoint = 'd-none' %}
{% endif %}

<header id="header" class="header {{ bg_image }} {{ bg_color }} {{ modifier_class }}">
  <div class="logo">
    {% if logo_url %}
      {% if not is_front %}<a href="{{ front_page }}">{% endif %}
        <img src="{{ logo_url }}" width="44" height="77" alt="{{ logo_alt_text }}" class="logo-image" />
      {% if not is_front %}</a>{% endif %}
    {% endif %}
    <span class="wordmark">
      <span class="sender {{ breakpoint }}">{{ header_sender|replace({'{br}': "<br>"})|raw }}</span>
      <span class="secondary-sender {{ breakpoint }}">{{ header_sender_secondary|replace({'{br}': "<br>"})|raw }}</span>
    </span>
  </div>
  {% if header_bg_url %}
    <picture class="header-media{% if header_bg_width %} col-sm-{{ header_bg_width }}{% endif %}">
      <img src="{{ header_bg_url }}" alt="">
    </picture>
  {% endif %}
</header>
