{%
  include "header.twig" with {
    modifier_class: modifier_class,
    logo_url: "kss-assets/img/basislogo.svg",
    logo_alt_text: "Home",
    logo_title_text: "Home",
    header_sender: "Rijksinstituut voor Volksgezondheid en Milieu",
    header_sender_secondary: "Ministerie van Volksgezondheid, Welzijn en Sport",
    header_bg_url: "kss-assets/img/placeholder_3.jpg",
    header_bg_color: "1",
    header_bg_width: "6"
  } only
%}
