// Footer
//
// Footer oragnism is added to every page. The payoff molecule is inlcuded on top.
//
// Markup: footer.twig
//
// Style guide: organisms.footer

.footer {
  background-color: $gray-lighter;
  margin-top: 2rem;
  padding-bottom: 20px;
  border-top: 2px solid #4e4e4e;
  .payoff {
    font-family: $font-family-serif;
    font-size: 1.5rem;
    padding-top: 23px;
  }
  h2 {
    margin: 0 0 5px;
    padding: 30px 0 5px;
    color: #535353;
    font-weight: 400;
    font-size: 1.5rem;
    border-bottom: 1px solid #b4b4b4;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    a {
      padding: 0 15px 5px 0;
      color: #535353;
      font-size: 1rem;
      text-decoration: none;
    }
  }
}
