{% if content %}
<footer class="footer {{modifier_class}}">
  <div class="container">
    <div class="row">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </div>
</footer>
{% endif %}
