{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  {%
    include "@source/molecules/breadcrumb/breadcrumb.twig" with {
      modifier_class: '',
      breadcrumb: breadcrumb
    } only
  %}
{% endif %}
