{#
/**
 * @file
 * Bootstrap Barrio's Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 *
 * @see template_preprocess_menu_local_tasks()
 */
#}
<nav class="navbar navbar-expand tabs col-sm-12" role="navigation"  aria-label="{{ 'Tabs'|t }}">
  {% if primary %}
    <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
    <ul class="navbar-nav nav-tabs primary">{{ primary }}</ul>
  {% endif %}
  {% if secondary %}
    <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
    <ul class="navbar-nav nav-tabs secondary">{{ secondary }}</ul>
  {% endif %}
</nav>
