// Tables
//
// The `<table>` element displays tabular data in rows, columns, and cells.
//
// Markup: tables.twig
//
// .table-inverse - Table inverse.
// .thead-inverse - Thead inverse.
// .thead-default - Thead default.
// .table-striped - Use .table-striped to add zebra-striping to any table row within the <tbody>.
// .table-bordered - Add .table-bordered for borders on all sides of the table and cells.
// .table-hover   - Add .table-hover to enable a hover state on table rows within a <tbody>.
// .table-sm      - Add .table-sm to make tables more compact by cutting cell padding in half.
// .table-active  - Applies the hover color to a particular row or cell.
// .table-success - Indicates a successful or positive action.
// .table-info    - Indicates a neutral informative change or action.
// .table-warning - Indicates a warning that might need attention.
// .table-danger  - Indicates a dangerous or potentially negative action.
//
// Style guide: atoms.table
.table {
  th,
  td {
    border-color: #fff;
    border: 2px solid #fff;
  }
  caption {
    color: #767676;
    text-align: left;
  }
  //table head
  thead th {
    border-color: #fff;
  }
}
