<table class="table {{modifier_class}}">
  <caption>
    This is an example table, and this is its caption to describe the contents.
  </caption>
  <thead class="{{modifier_class}}">
    <tr class="{{modifier_class}}">
      <th class="{{modifier_class}}">Table heading</th>
      <th>Table heading</th>
      <th>Table heading</th>
      <th>Table heading</th>
    </tr>
  </thead>
  <tbody>
    <tr class="{{modifier_class}}">
      <td class="{{modifier_class}}">Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
    <tr class="{{modifier_class}}">
      <td class="{{modifier_class}}">Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
    <tr class="{{modifier_class}}">
      <td class="{{modifier_class}}">Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
  </tbody>
</table>
