// Card Deck, vertical cards
//
// A set of equal width and height cards that aren’t attached to one another. 3 column sorted. Only applies to small devices and above.
//
// Markup: card_wrapper.twig
//
// .bg-brand - Changes background to the brand color.
// .bg-brand-lightest - Changes background to the lightest brand color.
// .bg-azure - Changes background to azure.
// .bg-azure-lightest - Changes background to azure lightest.
// .bg-dark-blue - Changes background to blue.
// .bg-dark-blue-lightest - Changes background to blue lightest.
// .bg-gray - Changes background to gray.
// .bg-gray-lightest - Changes background to gray lightest.
// .bg-white - Changes background to white.
//
// Style guide: organisms.card_wrapper
.card-wrapper {
  margin-bottom: 1rem;
  .card-deck {
     align-items: stretch;
    @each $breakpoint in map-keys($grid-gutter-widths) {
      @include media-breakpoint-up($breakpoint) {
        $gutter: map-get($grid-gutter-widths, $breakpoint);
        margin-right: ($gutter / -2);
        margin-left:  ($gutter / -2);
      }
    }
    .card {
      margin-left: 0;
    }
    // FIX STYLING ISSUES WITH CONTENTBLOCKS IN WRAPPER
    .par.col {
      @include media-breakpoint-down(xs) {
        flex-basis: inherit;
        margin-bottom: 0;
      }
    }

  }
  .col {
    @include make-col-ready();
    margin-bottom: 30px;
  }
  &.top .col,
  &.bottom .col {
    @include media-breakpoint-up(sm) {
      @include make-col(4);
    }
  }
  // Card Deck, horizontal cards with image left
  //
  // A set of equal width and height cards that aren’t attached to one another. 2 column sorted. Only applies to small devices and above.
  //
  // Markup: card_wrapper_horizontal_left.twig
  //
  // Style guide: organisms.card_wrapper.horizontal-left
  &.left .col {
    @include media-breakpoint-up(sm) {
      @include make-col(6);
      .card-media {
        float: left;
      }
      .card-body {
        flex-direction: column;
      }
    }
    .card {
      @extend %card-horizontal;
    }
  }
  // Card Deck, horizontal cards with image right
  //
  // A set of equal width and height cards that aren’t attached to one another. 2 column sorted. Only applies to small devices and above.
  //
  // Markup: card_wrapper_horizontal_right.twig
  //
  // Style guide: organisms.card_wrapper.horizontal-right
  &.right .col {
    @include media-breakpoint-up(sm) {
      @include make-col(6);
      .card-media{
        float: right;
      }
      .card-body {
        flex-direction: column;
      }
    }
    .card {
      @extend %card-horizontal;
    }
  }
  .card-title {
    font-weight: bold;
    @extend .h3;
  }
  .card {
    @include media-breakpoint-up(sm) {
      width: 100%;
    }
  }
}
