{%
  include "card_wrapper.twig" with {
    modifier_class: item.modifier_class,
    classes: classes,
    card_wrapper_title: card_wrapper_title,
    image_position: image_position,
    card_wrapper: card_wrapper,
  } only
%}
