{% if image_position == 'top' %}
  {% set card_column = 'top' %}
  {% set text_position = 'text-center' %}
{% elseif image_position == 'left' %}
  {% set card_column = 'left' %}
  {% set text_position = 'text-left' %}
{% elseif image_position == 'right' %}
  {% set card_column = 'right' %}
  {% set text_position = 'text-right' %}
{% endif %}
<div class="{{classes}} {{card_column}} {{modifier_class}}">
  <div class="container">
    <h2 class="card-title {{text_position}}">{{card_wrapper_title}}</h2>
    <div class="card-deck">
  {% set image_position = image_position %}
  {% for item in card_wrapper %} {# make every 'car_number' cards a new "row" #}
    <div class="col">
      {% include "../../molecules/cards/cards.twig" with {
          header: item.header,
          header_element: 'h3',
          content: item.content,
          footer: item.footer,
          image: item.image,
          image_position: image_position,
          text_position: text_position,
          card_link: item.card_link,
          card_link_title: 'title text',
          modifier_class: item.modifier_class
        } only %}
      </div>
  {% endfor %}
    </div>
  </div>
</div>
