.alert{
  width: 100%;
  pre {
    background-color: rgba(255,255,255,0.95);
    padding: 10px 15px;
    margin: 5px 0;
    color: #333;
  }
  a {
    color: #fff;
    color: $link-color;
    text-decoration: underline;
    &:hover {
      color: $link-hover-color;
    }
  }
}
