// Fonts
@font-face {
  font-family: "RO Sans";
  src: url(../fonts/RO-SansWebText-Regular.eot);
  src: url(../fonts/RO-SansWebText-Regular.eot?#iefix) format("eot"),
    url(../fonts/RO-SansWebText-Regular.ttf) format("truetype"),
    url(../fonts/RO-SansWebText-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RO Sans";
  src: url(../fonts/RO-SansWebText-Bold.eot);
  src: url(../fonts/RO-SansWebText-Bold.eot?#iefix) format("eot"),
    url(../fonts/RO-SansWebText-Bold.ttf) format("truetype"),
    url(../fonts/RO-SansWebText-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "RO Sans";
  src: url(../fonts/RO-SansWebText-Italic.eot);
  src: url(../fonts/RO-SansWebText-Italic.eot?#iefix) format("eot"),
    url(../fonts/RO-SansWebText-Italic.ttf) format("truetype"),
    url(../fonts/RO-SansWebText-Italic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: "RO Serif";
  src: url(../fonts/RO-SerifWeb-Regular.eot);
  src: url(../fonts/RO-SerifWeb-Regular.eot?#iefix) format("eot"),
    url(../fonts/RO-SerifWeb-Regular.ttf) format("truetype"),
    url(../fonts/RO-SerifWeb-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RO Serif";
  src: url(../fonts/RO-SerifWeb-Bold.eot);
  src: url(../fonts/RO-SerifWeb-Bold.eot?#iefix) format("eot"),
    url(../fonts/RO-SerifWeb-Bold.ttf) format("truetype"),
    url(../fonts/RO-SerifWeb-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "RO Serif";
  src: url(../fonts/RO-SerifWeb-Italic.eot);
  src: url(../fonts/RO-SerifWeb-Italic.eot?#iefix) format("eot"),
    url(../fonts/RO-SerifWeb-Italic.ttf) format("truetype"),
    url(../fonts/RO-SerifWeb-Italic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: optional;
}
