// make images responsive.
img {
  @include img-fluid();
}

// add margin to images aligned left.
article {
  .align-left {
    margin-right: 1rem;
    max-width: 100%;
  }
  .align-right {
    margin-left: 1rem;
    max-width: 100%;
  }
}
