// FOCUSED IMAGES
.load-focuspoint.focuspoint,
.load-focuspoint .focuspoint  {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  img {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    display: block;
    // fill and maintain aspect ratio
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-height: none;
    max-width: none;
  }
}
