// Types
//
// all types css ... headings, paragraps etc...
// setting font helper classes for sans serif + serif fonts.
// Check _variables.scss for definition of font-families.
.sans-serif {
  font-family: $font-family-sans-serif;
}

.serif {
  font-family: $font-family-serif;
}

.column-title {
  border-top: 2px solid $brand-primary;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-top: $spacer-y;
  margin-bottom: $spacer-y;
  padding-top: $spacer-y / 2;
  font-weight: bold;
}

// Type display classes
// set smaller font-sizes for mobile.
@include media-breakpoint-down(md) {
  .display-1 {
    font-size: $display1-size * 0.5;
    font-weight: $display1-weight;
  }
  .display-2 {
    font-size: $display2-size * 0.5;
    font-weight: $display2-weight;
  }
  .display-3 {
    font-size: $display3-size * 0.5;
    font-weight: $display3-weight;
  }
  .display-4 {
    font-size: $display4-size * 0.5;
    font-weight: $display4-weight;
  }

  // set smaller headings for mobile.
  $font-size-h1-mobile: 1.75rem;
  $font-size-h2-mobile: 1.5rem;
  $font-size-h3-mobile: 1.25rem;
  $font-size-h4-mobile: 1.25rem;
  $font-size-h5-mobile: 1.25rem;
  $font-size-h6-mobile: 1rem;

  h1, .h1 { font-size: $font-size-h1-mobile; }
  h2, .h2 { font-size: $font-size-h2-mobile; }
  h3, .h3 { font-size: $font-size-h3-mobile; }
  h4, .h4 { font-size: $font-size-h4-mobile; }
  h5, .h5 { font-size: $font-size-h5-mobile; }
  h6, .h6 { font-size: $font-size-h6-mobile; }

}
