// Cards
//
// A card is a flexible and extensible content container/block. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.
//
// Markup: cards.twig
//
// .card-primary - Changes background to primary color.
// .card-success - Changes background to success color.
// .card-info    - Changes background to info color.
// .card-warning - Changes background to warning color.
// .card-danger  - Changes background to danger color.
// .card-nobg    - A card without background color.
// .bg-white     - Changes background to a white color.
// .card-button  - Changes the interaction when a card is clickable.
//
// Style guide: molecules.cards
.card {
  transition: all 0.2s ease;
  transform: translate3d(0, 0, 0);
  margin-bottom: 1rem;
  &.card-button:hover {
    transform: scale(1.05);
    cursor: pointer;
    text-decoration: none;
    .card-text,
    p,
    a {
      transform: scale(1/1.05);
      text-decoration: underline;
    }
    .card-title,
    .card-header {
      text-decoration: none;
    }
  }
  // removes border by default cards, not by outlined.
  &:not(.card-outline-primary),
  &:not(.card-outline-secondary),
  &:not(.card-outline-info),
  &:not(.card-outline-success),
  &:not(.card-outline-warning),
  &:not(.card-outline-danger) {
    border: 0px;
  }
}

// card with anchor styling
a {
  .card {
    @include hover-focus {
      .card-title {
        color: $link-hover-color;
        text-decoration: underline;
      }
    }
    .card-title {
      color: $link-color;
    }
    p, table {
      color: #000;
    }
    footer {
      color: $gray-darkest;
    }
    // removes padding from cards with no background color
    &.card-nobg {
      .card-body {
        display: block;
        padding: 0;
      }
    }
  }
}

.card-body {
  padding: 15px;
  flex-direction: column;
  height: 100%;
  overflow-wrap: break-word;
  .question {
    font-size: 1.75rem;
    font-style: italic;
    align-self: center;
    margin: 0;
  }
}

.card-nobg {
  background-color: $card-nobg;
  .card-body {
    background-color: $card-nobg;
  }
}

.card-media {
  .image-info {
    color: contrast-text($brand-primary);
    background-color: $brand-primary;
  }
}

.card-title {
  overflow-wrap: break-word;
  overflow: hidden;
  line-height: 1em;
}

.card-link {
  @include hover {
    text-decoration: underline;
  }
}

// Header and Footer
//
// Add an optional header and/or footer within a card. The header default background color is the primary brand color.
//
// Markup: cards-header-footer.twig
//
// .card-button  - Changes the interaction when a card is clickable.
//
// Style guide: molecules.cards.header&footer
.card-header {
  @include bg-color( $color: $brand-primary);
  border-bottom: none;
  margin: 0;
  font-size: 1.5rem;
  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }
}

.card-footer {
  @include bg-color( $color: $gray-lighter);
  border-top: none;
}

// Card horizontal image placement
//
// Makes it possible to render the content of a card horizontal. An image is placed next to the text. Only for tablet and bigger!
//
// Markup: cards-horizontal.twig
//
// .card-primary - Card primary.
// .card-button  - Changes the interaction when a card is clickable.
//
// Style guide: molecules.cards.card-horizontal
.card-horizontal,
%card-horizontal {
  @include media-breakpoint-up(md) {
    flex: none;
    .card-media {
      width: 50%;
    }
    .card-body {
      width: auto;
      display: flex;
    }
    .card-header {
      border-bottom: 0;
      border-right: $card-border-width solid $card-border-color;
      width: 100%;
      flex: none;
      border-right: none;
    }
    .card-footer {
      border-top: 0;
      border-left: $card-border-width solid $card-border-color;
    }
  }
}
