{% for item in cardlist %}
<div class="card-list col-12 p-0">
  <a href="#">
    <article class="card news card-nobg">

      <div class="card-media">
        {{ item.image }}
        <div class="image-info icon-nieuws"></div>
      </div>

      <h2 class="card-title">{{ item.title }}</h2>

      <div class="card-body">
      {% block content %}
        {{ item.content }}
      {% endblock %}
      </div>

    {% if footer %}
      <footer class="card-footer">
      {% block footer %}
        {{ item.footer }}
      {% endblock %}
      </footer>
    {% endif %}

    </article>
  </a>
</div>
{% endfor %}