<div class="col-sm-4">
  {%
    include "cards.twig" with {
      modifier_class: modifier_class,
      header: header,
      header_element: header_element,
      content: content,
      footer: footer
    } only
  %}
</div>
