<div class="col-sm-6">
  <div class="card card-horizontal {{modifier_class}}">
    <img class="{{modifier_class}}" src="http://placehold.it/400x200" alt="Card image cap ">
    <div class="card-body ">
        <h4 class="card-title ">Title</h4>
        <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="# " class="card-link ">Link</a>
    </div>
  </div>
</div>
