{% if (image_position == 'left') %}
  {% set image_top = true %}
  {% set classes = 'card-horizontal' %}
{% elseif (image_position == 'right') %}
  {% set image_top = true %}
  {% set image_bottom = false %}
  {% set classes = 'card-horizontal' %}
{% else %}
  {% set image_top = true %}
{% endif %}
{% if card_link %}
<a href="{{card_link}}" class="card card-button {{classes}} {{modifier_class}} {{text_position}}" title="{{card_link_title}}">
{% else %}
<div class="card {{classes}} {{modifier_class}} {{text_position}}">
{% endif %}
  {% if header %}
    {% block header %}
      <{{-header_element|default('div')}} class="card-header">{{ header }}</{{-header_element|default('div')-}}>
    {% endblock %}
  {% endif %}
  <div class="card-content">
    {% if image_top %}<div class="card-media">{{ image }}</div>{% endif %}
    <div class="card-body {{icon_class}}">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </div>
  {% if image_bottom %}<div class="card-media">{{ image }}</div>{% endif %}
  {% if footer %}
  <div class="card-footer">
    {% block footer %}
      {{ footer }}
    {% endblock %}
  </div>
  {% endif %}
{% if card_link %}
</a>
{% else %}
</div>
{% endif %}
