$icon-groep-mensen-torso: "\e900";
$icon-klantencontactcenter: "\e901";
$icon-servicedesk-telefonie: "\e902";
$icon-servicedesk-ict: "\e903";
$icon-vind-je-collega: "\e904";
$icon-aanmelden-bezoek: "\e905";
$icon-meldpunt-incidenten: "\e906";
$icon-pijl-links: "\e907";
$icon-pijl-beneden: "\e908";
$icon-pijl-rechts: "\e909";
$icon-pijl-boven: "\e90a";
$icon-kaart: "\e90b";
$icon-filter: "\e90c";
$icon-locatie-marker: "\e90d";
$icon-oog: "\e90e";
$icon-kaart-lagen: "\e90f";
$icon-brede-blik: "\e910";
$icon-maatwerk: "\e911";
$icon-rijkspas: "\e912";
$icon-facts-and-figures: "\e913";
$icon-planning: "\e914";
$icon-actueel: "\e915";
$icon-ster: "\e916";
$icon-bel: "\e917";
$icon-routevlag: "\e918";
$icon-hart: "\e919";
$icon-raamwerk: "\e91a";
$icon-verbetering-proces: "\e91b";
$icon-verbinding: "\e91c";
$icon-som-der-delen: "\e91d";
$icon-gereedschap: "\e91e";
$icon-start: "\e91f";
$icon-rekenmachine: "\e920";
$icon-publiek: "\e921";
$icon-gemeenschappelijk-doel: "\e922";
$icon-alarmering-functionarissen: "\e923";
$icon-proces: "\e924";
$icon-keten: "\e925";
$icon-balie: "\e926";
$icon-consult: "\e927";
$icon-uit-aanknop: "\e928";
$icon-activiteit: "\e929";
$icon-ketting: "\e92a";
$icon-afschaling: "\e92b";
$icon-zandloper: "\e92c";
$icon-boeket: "\e92d";
$icon-kantoorbenodigdheden: "\e92e";
$icon-automaten: "\e92f";
$icon-adresboek: "\e930";
$icon-kalender: "\e931";
$icon-info: "\e932";
$icon-hulp: "\e933";
$icon-home: "\e934";
$icon-contact: "\e935";
$icon-settings: "\e936";
$icon-printer: "\e937";
$icon-computer: "\e938";
$icon-laptop: "\e939";
$icon-klok: "\e93a";
$icon-winkelwagen: "\e93b";
$icon-externe-link: "\e93d";
$icon-nieuws: "\e93e";
$icon-rss: "\e93f";
$icon-vraag-en-antwoord: "\e940";
$icon-afspelen: "\e941";
$icon-pause: "\e942";
$icon-stop: "\e943";
$icon-audio: "\e944";
$icon-formulier: "\e945";
$icon-weblogbericht: "\e946";
$icon-overig: "\e947";
$icon-communicatie: "\e948";
$icon-informatiemanagement: "\e949";
$icon-media: "\e94a";
$icon-dataverkeer: "\e94b";
$icon-ict: "\e94c";
$icon-klachten: "\e94d";
$icon-delen: "\e94e";
$icon-upload: "\e94f";
$icon-download-CSV-bestand: "\e950";
$icon-download-geoJSON-bestand: "\e951";
$icon-maak-eigen-kaart: "\e952";
$icon-voeg-iconenset-toe: "\e953";
$icon-buzzer: "\e954";
$icon-foto-toevoegen: "\e955";
$icon-ga-naar-www: "\e956";
$icon-gallery: "\e957";
$icon-instellingen: "\e958";
$icon-naslag-internet: "\e959";
$icon-nieuws-toevoegen: "\e95a";
$icon-video-camera: "\e95b";
$icon-video-toevoegen: "\e95c";
$icon-whatsapp: "\e992";
$icon-video: "\e95f";
$icon-www: "\e960";
$icon-volgorde: "\e961";
$icon-usb-lader: "\e962";
$icon-samenhang-van-documenten: "\e963";
$icon-kwaliteit: "\e964";
$icon-conferentie-of-event: "\e965";
$icon-videovergaderen: "\e966";
$icon-electronische-paraaf: "\e967";
$icon-digitaal-archief: "\e968";
$icon-fysiek-archief: "\e969";
$icon-smartphone: "\e96a";
$icon-tablet: "\e96b";
$icon-hybride-laptop: "\e96c";
$icon-online-veiligheid: "\e96d";
$icon-games: "\e96e";
$icon-digitale-uitwisseling: "\e96f";
$icon-netwerk: "\e970";
$icon-gegevens: "\e971";
$icon-dashboardmonitor: "\e972";
$icon-woordenboek: "\e973";
$icon-chip: "\e974";
$icon-server: "\e975";
$icon-postzak: "\e976";
$icon-tolk: "\e977";
$icon-interculturele-communicatie: "\e978";
$icon-invulformulier: "\e979";
$icon-gum: "\e97a";
$icon-digitaliseren-documenten: "\e97b";
$icon-repro: "\e97c";
$icon-vergaderservice: "\e97d";
$icon-externe-vergaderruimte: "\e97e";
$icon-narrowcasting: "\e97f";
$icon-bewerken_24px: "\e980";
$icon-downloaden_24px: "\e981";
$icon-klaarzetten_24px: "\e982";
$icon-menu_24px: "\e983";
$icon-terug_24px: "\e984";
$icon-user_24px: "\e985";
$icon-verwijderen_24px: "\e986";
$icon-zoek_24px: "\e987";
$icon-hashtag_24px: "\e988";
$icon-kruis-24px: "\e989";
$icon-list: "\e98a";
$icon-th: "\e98b";
$icon-blanco: "\e98c";
$icon-googleplus: "\ea8d";
$icon-phone: "\e990";
$icon-pintrest: "\e991";
$icon-youtube: "\e95d";
$icon-twitter: "\e99a";
$icon-linkedin: "\e99b";
$icon-instagram: "\e95e";
$icon-email: "\e99d";
$icon-facebook: "\e99e";
$icon-plus: "\f067";
$icon-min: "\f068";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-caret-left: "\f0d9";
$icon-caret-right: "\f0da";
$icon-caret-up: "\f0d8";
$icon-caret-down: "\f0d7";
$icon-angle-left: "\f104";
$icon-angle-right: "\f105";
$icon-angle-up: "\f106";
$icon-angle-down: "\f107";
$icon-midden-en-kleinbedrijf: "\e994";
$icon-ondernemen: "\e995";
$icon-ondernemingen: "\e996";
$icon-handel: "\e997";
