// Form elements
//
// A majority of forms in the site are built from the same base class. See http://v4-alpha.getbootstrap.com/components/forms/ for more information about bootstrap and forms.
//
// Markup: forms.twig
//
// Style guide: atoms.forms
form {
  label {
    vertical-align: top;
  }
  .error {
    border: 2px solid $brand-danger;
  }
}

.form-control {
  border-left-color: #fff;
  border-top-color: #fff;
  border-right-color: #fff;
  border-bottom-width: 2px ;
  border-bottom-color: $brand-primary;
}

.form-group {
  padding: 10px;
  margin: 0;
  background-color: $gray-lightest;
  legend {
    font-size: 1rem;
    float: left; // set legend inside the group container.
  }
}
