/* CSS generated from: http://www.cssportal.com/style-input-range/#*/
input[type="range"] {
  -webkit-appearance: none;
  margin: 0 2%;
  padding: 0;
  width: 65%;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: $gray-dark;
    border: 0 solid #000000;
  }
  &::-webkit-slider-thumb {
    box-shadow: 0 0 0 $dark-blue;
    border: 4px solid $dark-blue;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }
  &:focus::-webkit-slider-runnable-track {
    background: $gray-dark;
  }
  &::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: $gray-dark;
    border-radius: 0;
    border: 0 solid #000000;
  }
  &::-moz-range-thumb {
    border: 4px solid $dark-blue;
    height: 14px;
    width: 14px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
  }
  &::-ms-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &::-ms-fill-lower, &::-ms-fill-upper {
    background: $gray-dark;
    border: 0 solid #000000;
    border-radius: 0;
    box-shadow: 0 0 0 #000000;
  }
  &::-ms-thumb {
    border: 4px solid $dark-blue;
    height: 14px;
    width: 14px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
  }
  &:focus {
    &::-ms-fill-lower {
      background: $gray-dark;
      background: #000000;
    }
    &::-ms-fill-upper {
      background: $gray-dark;
    }
  }
}
