// Search results
ul.search-results {
  padding-left: 0;
  li.result {
    list-style: none;
    margin-top: 1.5rem;
    a {
      position: relative;
      display: inline-block;
      &:before {
        font-size: $font-size-h4;
        position: absolute;
        left: -3px;
        top: 0;
      }
      &[class*="file-type-icon-"] {
        &:before {
          top: 7px;
          left: 1px;
          font-size: 1.2rem
        }
      }
      &:hover {
        text-decoration: none;
        h2 {
          text-decoration: underline;
        }
      }
      h2 {
        padding-left: 1.5rem;
        margin-top: map-get($spacers, 1);
        margin-bottom: map-get($spacers, 1);
      }
      p {
        color: #000;
        line-height: $line-height-sm;
        margin-top: map-get($spacers, 1);
        margin-bottom: map-get($spacers, 1);
      }
      .url {
        color: $gray-darkest;
      }
    }
  }
}
