// global config
@import "../init/_variables_colors";

$brand-primary:             $brown;
$brand-light:               $brown-light;
$brand-lightest:            $brown-lightest;

// global config
@import "../settings";

// Components
@import "../components_bootstrap";
@import "../components";
