// global config
@import "../init/_variables_colors";

$brand-primary:             $dark-blue;
$brand-light:               $dark-blue-light;
$brand-lightest:            $dark-blue-lightest;

// global config
@import "../settings";

// Components
@import "../components_bootstrap";
@import "../components";
