// global color config
@import "../init/_variables_colors";

$brand-primary:             $pink;
$brand-light:               $pink-light;
$brand-lightest:            $pink-lightest;

// global config
@import "../settings";

// Components
@import "../components_bootstrap";
@import "../components";
