// global color config
@import "../init/_variables_colors";

$brand-primary:             $purple;
$brand-light:               $purple-light;
$brand-lightest:            $purple-lightest;

// global config
@import "../settings";

// Components
@import "../components_bootstrap";
@import "../components";
