// global color config
@import "../init/_variables_colors";

$brand-primary:             $red;
$brand-light:               $red-light;
$brand-lightest:            $red-lightest;

// global config
@import "../settings";

// Components
@import "../components_bootstrap";
@import "../components";
