// global color config
@import "../init/_variables_colors";

$brand-primary:             $violet;
$brand-light:               $violet-light;
$brand-lightest:            $violet-lightest;

// global config
@import "../settings";

// Components
@import "../components_bootstrap";
@import "../components";
