// global color config
@import "../init/_variables_colors";

$brand-primary:             $white;
$brand-light:               $white-light;
$brand-lightest:            $white-lightest;

// global config
@import "../settings";

// Overwrite font-declarations for white theme (no RO-type)
@import "../init/_fonts-white";

// Components
@import "../components_bootstrap";
@import "../components";
