{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Theme settings:
 * - theme_logo: url of logo image.
 * - theme_slogan: Site slogan.
 * - theme_sender_primary: Primary sender from theme settings.
 * - theme_sender_secondary: Secondary sender from theme settings.
 * - theme_titlebar: Titlebar from theme settings.
 * - theme_header_bg_picture: url of header image.
 * - theme_header_bg_picture_width: Column with background image in header.
 * - theme_header_bg_color: Sites header background color.
 * - theme_navigation_border: Bolean, show or hide border below main navigation.
 *
 * Special region attributes:
 *  - navbar_attributes
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

  {% block header %}
    {% if page.header %}
    <div>
      {{ page.header }}
    </div>
    {% endif %}
    {%
      include "@source/organisms/header/header.twig" with {
        modifier_class: '',
        logo_url: theme_logo,
        logo_alt_text: is_front ? 'Government logo'|t : 'Government logo | to homepage'|t,
        header_sender: theme_sender_primary,
        header_sender_secondary: theme_sender_secondary,
        header_sender_breakpoint_class: theme_sender_breakpoint_class|clean_class,
        header_bg_url: theme_header_bg_picture,
        header_bg_color: theme_header_bg_color,
        header_bg_width: theme_header_bg_picture_width,
        front_page: front_page,
        is_front: is_front,
      } only
    %}
  {% endblock %}

  {% block navigation %}
    {% if theme_titlebar or page.titlebar %}
      <div class="navbar-titlebar">
        <div class="container">
          {{theme_titlebar}} {{page.titlebar}}
        </div>
      </div>
    {% endif %}
    <nav{{ navbar_attributes }}>
      <div class="container">
        {% if page.primary_menu or page.navbar_form %}
        <div class="buttons">

          <button class="navbar-toggler icon-menu" id="menuButton" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="{{'Toggle navigation'|t}}">{{ 'Menu'|t }}<span class="sr-only">{{ 'Menu collapsed'|t }}</span>
          </button>

          {% if page.primary_menu %}
          <div class="collapse d-lg-flex clearfix" id="navbarResponsive">
            {{ page.primary_menu }}
          </div>
          {% endif %}

          {% if page.navbar_form %}
          <button class="navbar-toggler navbar-toggler-right auto-sm icon-zoek" id="searchButton" type="button" data-toggle="collapse" data-target="#searchformResponsive" aria-controls="searchformResponsive" aria-expanded="false" aria-label="{{'Toggle search'|t}}"><span class="sr-only">{{ 'Search form unfolded'|t }}</span>
          </button>
          {% endif %}

          <div class="collapse d-lg-flex clearfix" id="searchformResponsive">
            {{ page.navbar_form }}
          </div>

        </div>
        {% endif %}
      </div>
    </nav>
  {% endblock %}

  {% block subnavigation %}
    {% if page.secondary_menu or page.breadcrumb or node.title.value or page['#title'] %}
    <nav class="navbar-nav navbar-branded-light">
      <div class="container">
      {{ page.breadcrumb }}
      {% if node.title.value %}
        <h1>{{ node.title.value }}</h1>
      {% elseif page['#title'] %}
        <h1>{{ page['#title'] }}</h1>
      {% endif %}
      {{ page.secondary_menu }}
      </div>
    </nav>
    {% endif %}
  {% endblock %}

  {{ page.highlighted }}

  {{ page.help }}

  {% block content %}
    <main role="main" class="container">

      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      <div class="layout-local row">
        {{ page.local }}
      </div>

      <div class="layout-content">
        {{ page.content }}
      </div>{# /.layout-content #}

      {% if page.sidebar_first %}
        <aside class="layout-sidebar-first" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      {% if page.sidebar_second %}
        <aside class="layout-sidebar-second" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
    </main>
  {% endblock %}

  {% block payoff %}
    {% include "@source/molecules/payoff/payoff.twig" with {
        theme_slogan: theme_slogan
      }
    %}
  {% endblock %}

  {% block footer %}
    {%
      include "@source/organisms/footer/footer.twig" with {
        modifier_class: '',
        content: page.footer,
      }
    %}
  {% endblock %}

</div>
