{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  {% if attributes != '' %}<div{{ attributes }}> {% endif %}
    {{ content }}
  {% if attributes != '' %}</div>{% endif %}
{% endif %}
