<ul class="breadcrumb {{modifier_class}}">
  {% for item in breadcrumb %}
    <li class="breadcrumb-item">
      {% if item.url %}
        <a href="{{ item.url }}">{{ item.text }}</a>
      {% else %}
        {{ item.text }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
