// Comments styling
//
// Markup: comments.twig
//
// Style guide: molecules.comments

// Comment form
.comment-form {
  margin-bottom: 3rem;
  label {
    width: 100px;
  }
  .form-text,
  .form-textarea-wrapper,
  .button {
    display: inline-block;
    width: auto;
  }
  .form-type-textarea {
    padding: 0;
    .form-textarea.error {
      border-left-color: $brand-danger !important;
      border-top-color: $brand-danger !important;
      border-right-color: $brand-danger !important;
      border: 2px solid $brand-danger;
    }
  }
  .form-submit {
    margin-left: 0;
    @media (min-width: 676px) {
      margin-left: 103px;
    }
  }
}

.js-comment {
  padding: 1rem;
  margin-bottom: 2px;
  background-color: $gray-lighter;
  .links {
    padding-left: 0px;
    li {
      display: inline-block;
      margin-right: 1rem;
    }
  }
  footer {
    color: $gray-darkest;
  }
}
