// Payoff
//
// Markup: payoff.twig
//
// Style guide: molecules.payoff
.payoff {
  position: relative;
  .logo {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -22px;
    padding: 0;
    border-left: 44px solid $logo-blue-2;
    width: 50%;
    height: 31px;
    background: 0;
    font-family: $font-family-serif;
    font-size: 0.69rem;
    padding-left: 5px;
    vertical-align: middle;
    line-height: 31px;
    > span {
      // Visibility of wordmark depends on device width
      @include media-breakpoint-down(md) {
        @include sr-only();
      }
    }
  }
}
