// Vertical navigation
//
// Markup: nav-vertical.twig
//
// Style guide: molecules.nav-vertical
ul.nav-vertical {
  position: fixed;
  top: 50%;
  right: 20px;
  z-index: 401;
  li.nav-item {
    a.nav-link {
      width: 30px;
      padding: 5px 0;
      &.active {
        &:after {
          background: #000;
        }
      }
      &:after {
        transition: margin 0.2s ease;
        margin-left: 10px;
        display: inline-block;
        content: "";
        width: 12px;
        height: 12px;
        border: 1px solid #000;
        border-radius: 50%;
        background: #fff;
        opacity: $tooltip-opacity;
      }
      &:hover:after {
        margin-left: 5px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    right: 1px;
  }
}
