// titelbar for above the menu, use <em> for the subtitel.
.navbar-titlebar {
  color: contrast-text($brand-light);
  background-color: $brand-light;
  font-size: 1.3rem;
  line-height: 2rem;
}

// Branded tabs menu
//
// Markup: nav.twig
//
// .navbar-branded - Branded navbar.
// .navbar-branded-light - Branded navbar light.
//
// Style guide: molecules.nav-tabs
.navbar-branded {
  background-color: $brand-primary;
  @include media-breakpoint-down(lg) {
    .container {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  @include media-breakpoint-up(lg) {
    .buttons {
      display: flex;
    }
  }
  .navbar-brand {
    color: contrast-text($brand-primary);
    @include hover-focus {
      color: contrast-text($brand-primary);
    }
  }
  .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    .nav-item {
      margin: 0;
      width: 100%;
      position: relative;
      @include media-breakpoint-up(sm) {
        width: 50%;
        &:nth-child(even) {
          padding-left: 0;
          width: calc(50% - 15px);
        }
      }
      @include media-breakpoint-up(lg) {
        width: auto;
        &:nth-child(even) {
          width: auto;
          margin-left: 0;
        }
      }
      @include media-breakpoint-down(md) {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
      }
      @include media-breakpoint-down(xs) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    .nav-link {
      text-decoration: none;
      border-top: 1px solid #fff;
      color: contrast-text($brand-primary);
      @include hover-focus {
        color: contrast-text($brand-primary);
      }
      @include media-breakpoint-up(lg) {
        padding: 0.625rem;
        border-top: 0;
        color: contrast-text($brand-primary);
        font-size: 1.125rem;
        line-height: 1.5rem;
        @include hover-focus {
          background-color: $brand-lightest;
          color: contrast-text($brand-lightest);
        }
      }
      &:hover {
        text-decoration: underline;
      }
    }
    .open > .nav-link,
    .is-active > .nav-link,
    .nav-link.open,
    .nav-link.is-active {
      font-weight: bold;
      color: contrast-text($brand-primary);
      @include media-breakpoint-up(lg) {
        background-color: $brand-lightest;
        color: contrast-text($brand-lightest);
        @include plain-hover-focus {
          color: contrast-text($brand-lightest);
        }
      }
    }
  }
  .navbar-divider {
    background-color: $brand-lightest;
  }
  .navbar-expand {
    flex-wrap: wrap;
  }
  .navbar-toggler {
    color: contrast-text($brand-primary);
    width: auto;
    &.icon-zoek[aria-expanded="true"] {
      line-height: 1rem;
      &:before {
        content: "\00D7";
        font-weight: bold;
        vertical-align: text-top;
        font-size: 1.5em;
        margin-top: -3px;
      }
    }
  }
  .navbar-toggler-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  // additional border below menu.
  &.navbar-border {
    border-bottom: 10px solid $brand-lightest;
  }
  // control collapse and make a flexbox so the order of the collapse can be controlled.
  @include media-breakpoint-down(md) {
    .collapse {
      &.show {
        display: flex;
        flex-direction: column;
      }
    }
    .collapsing {
      display: flex;
      flex-direction: column;
    }
  }
  //control search form + elements
  #searchformResponsive {
    margin-left: auto;
    @include media-breakpoint-down(md) {
      position: absolute;
      top: 4px;
      right: 50px;
      @include media-breakpoint-down(sm) {
        .nav-search {
          width: 100%;
          fieldset {
            max-width: 150px;
          }
        }
      }
    }
    .nav-search {
      align-self: center;
      // hide labels for screen only
      label {
        @include sr-only;
      }
      // use display table to align inline form elements without any gap.
      form {
        .form-inline {
          flex-flow: initial;
          @include media-breakpoint-up(lg) {
            width: auto;
          }
        }
        // if there is a formgroup, reset it.
        .form-group {
          padding: 0;
          width: auto;
        }
        // all form items
        .form-control,
        .btn {
          border: 0px;
          padding: 0.2rem 0.5rem;
          min-height: 30px;
          width: 100%;
        }
        // form buttons
        .form-actions {
          @include media-breakpoint-up(lg) {
            width: auto;
          }
        }
      }
      .btn-primary {
        background-color: $azure-lightest;
        color: contrast-text($azure-lightest);
        width: auto;
      }
    }
  }
}

// Branded navbar light
.navbar-branded-light {
  @include media-breakpoint-down(lg) {
    .container {
      margin-left: 0;
      margin-right: 0;
    }
  }
  padding: 0;
  background-color: $brand-lightest;
  .navbar-nav {
    padding: 0;
    line-height: 30px;
    background-color: $brand-lightest;
    color: contrast-text($brand-lightest);
    border-bottom: none;
    flex-direction: row;
    .nav-item {
      &:hover {
        transform: none;
      }
      .is-active {
        background-color: #fff;
        color: contrast-text(#fff);
        border: none;
        font-weight: bold;
        &:hover {
          color: contrast-text(#fff);
        }
      }
      .nav-link {
        padding: 5px 10px;
        border: none;
        text-decoration: none;
      }
    }
  }
}
