// Skipnav
//
// Markup: skipnav.twig
//
// .skipnav       - Use this class to style the skipnav.
//
// Style guide: molecules.skipnav
.skipnav{
  margin-top: -1px;
  @include make-col(12);
  @include media-breakpoint-up(md) {
    @include make-col(2);
   }
  a{
    padding: 0.5rem;
  }
}
