<ul class="navbar-nav nav-vertical">
  {% for item in nav %}
    {% set activeClass = item.active ? 'active' : '' %}
    <li class="nav-item">
      {% if item.url %}
        <a class="nav-link {{ activeClass }}" href="{{ item.url }}" data-toggle="tooltip" data-placement="left" title="{{ item.text }}"></a>
      {% else %}
        {{ item.text }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
