<ul class="nav-inline {{modifier_class}}">
  {% for item in navinline %}
    {% set activeClass = item.active ? 'active' : '' %}
    <li class="nav-item">
      {% if item.url %}
        <a class="nav-link {{ activeClass }}" href="{{ item.url }}">{{ item.text }}</a>
      {% else %}
        {{ item.text }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
