<div class="navbar navbar-full {{modifier_class}}">
<button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
<span class="icon"></span> Menu
</button>
  <div class="collapse navbar-expand-md container" id="navbarResponsive">
    <ul class="navbar-nav">
      {% for item in items %}
        {% set activeClass = item.active ? 'active' : '' %}
        <li class="nav-item">
          {% if item.url %}
            <a class="nav-link" href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
