<nav id="skipnav" class="skipnav list-group">
  <a href="#navigation" class="sr-only sr-only-focusable list-group-item list-group-item-info">Skip to navigation</a>
  <a href="#maincontent" class="sr-only sr-only-focusable list-group-item list-group-item-info">Skip to main content</a>
</nav>
